table tr td:nth-child(2):hover{
    background-color: rgb(217, 237, 255);
    cursor: pointer;
}

table tr{
    width: 100%;
}

table th{
    padding: 8px;
}

table tr:nth-child(1){
    background-color: rgb(217, 237, 255);
}

table tr td:nth-child(1){
    text-align: center;
    padding: 0;
}

table td{
    padding: 8px;
    padding-left: 10px;
}

.bg td{
    background-color: rgb(244, 246, 248);
}